
<div class="container">
  <div class="row">
    <div class="offset-sm-2 col-sm-8">
      <div class="card text-blank border-0">
        <div class="card-body">
          <div class="card-title text-center">
            <h5>Sign up For Free</h5>
          </div>
        <div class="card-text">
          <form [formGroup]="myform" (ngSubmit)="onsubmit(myform)">
            <div class="form-row" [formGroup]="">
            <div class="form-group col-sm-6">
              <input type="text" class="form-control" placeholder="First Name" 
               [formControl]="myform.controls['firstname']">
            </div>
            <div class="form-group col-sm-6">
              <input type="text" class="form-control" placeholder="Last Name"
               [formControl]="myform.controls['lastname']">
            </div>
            </div>
            <div class="alert alert-danger" *ngIf="(!myform.controls['firstname'].valid|| !myform.controls['lastname'].valid) && (myform.controls['firstname'].touched || myform.controls['lastname'].touched)">
              First name and last name is required
            </div>
              <div class="form-group">
              <input type="email" class="form-control" placeholder="Email"
               [formControl]="myform.controls['email']">
            </div>
             <div class="alert alert-danger" *ngIf="(!myform.controls['email'].valid) && ( myform.controls['email'].touched)">
              Enter valid Email
            </div>
              <div class="form-group">
              <input type="password" class="form-control" placeholder="Password"
              [formControl]="myform.controls['password']">
            </div>
            
              <div class="form-group">
              <input type="password" class="form-control" placeholder="Confirm Password"
              [formControl]="myform.controls['confirmpassword']">
            </div>
            <div class="alert alert-danger" *ngIf="(!myform.controls['password'].valid ) && (myform.controls['password'].touched)">
              
               Password should be at least 8 characters
              </div>
              <small>
              We'll never share your password</small>
            <div class="text-center">
              <button type="submit" class="btn btn-block btn-warning" >Submit</button>
            </div>
                  {{myform.controls['confirmpassword'].errors | json}}
          </form>
        

</div>
        </div>
      </div>
    </div>
  </div>
</div>



